
.sidebar-component {
  width: 100px;
  background: #00447E;
  color: white;
  position: fixed;
  bottom: 9vh;
  left: 25px;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 999;
  border-radius: 8px;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &.collapsed {
    width: 100px;
    padding: 10px;
  }

  &.expanded {
    width: 100px;
    padding: 5px 20px 10px 20px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}
.sidebar-toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.05);
}
.layer-image-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.layer-image {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

/* Optimizations for smaller screens */
@media (max-height: 800px) {
  .sidebar-component.expanded {
    max-height: 30vh;
    width:80px;
    padding: 5px 15px 10px 15px;
    bottom: 10vh;
  }

  .sidebar-component.collapsed {
    width:80px;
    padding: 5px 15px 10px 15px;
    bottom: 10vh;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}


